<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add Contacts">
    <ion-content has-header="true">
        <h1>Find Friends</h1>
        <ion-list>
            <ion-item>
                <i class="ion-social-facebook"></i> Find Friends from Facebook
            </ion-item>
            <ion-item>
                <i class="ion-social-twitter"></i> Find Friends from Twitter
            </ion-item>
            <ion-item>
                <i class="ion-person-stalker"></i> Find Friends from Contacts
            </ion-item>
            <ion-item ui-sref="tab.contacts-findbyname">
                <i class="ion-search"></i> Search by name
            </ion-item>
        </ion-list>
        <h1>Friend Requests</h1>
        <ion-list>
            <ion-item ng-hide="awesomeThings.length">
                No friend requests.
            </ion-item>
            <ion-item ng-repeat="item in awesomeThings">
                Hello, {{item}}!
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
